.nav-container {
  .navbar {
    min-height: 5rem;
    background: #343f56;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    .select-algo {
      margin-right: 1rem;
      color: white;
      display: flex;
      align-items: center;

      .box {
        margin-left: 1rem;
        background-color: white;
        color: black;
        position: relative;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        .result {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          transition: all 250ms ease;
          .triangle {
            border: 7px solid var(--wall-clr);
            border-color: var(--wall-clr) transparent transparent;
            display: inline-block;
            margin-left: 1rem;
            transform: translateY(40%);
            transition: transform 150ms ease;
            pointer-events: none;

            &.flip {
              transform: translateY(-40%) scale(1, -1);
            }
          }
        }

        .ul-list {
          position: absolute;
          top: 120%;
          background: white;
          border: 1px solid var(--wall-clr);
          overflow: hidden;
          left: 0;
          right: 0;
          width: auto;
          border-radius: 10px;
          min-width: 150px;
          z-index: 99;

          li {
            padding: 0.5rem 1rem;
            list-style: none;
            // border: 1px solid var(--wall-clr);
            border-bottom: 1px solid var(--wall-clr);

            &:last-of-type {
              border: none;
            }

            &:hover {
              background-color: var(--wall-clr);
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }

    .run-btn,
    .clear-btn {
      background: var(--visited-clr);
      color: white;
      border: none;
      max-height: 50px;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        background: rgb(150, 149, 149);
        pointer-events: none;
      }

      &:hover {
        background: #f8f5f1;
        color: #313131;
      }
    }
    .run-btn {
      background: var(--shortestPath-clr);
    }

    .node-sign {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.5rem 0;
      color: #313131;

      &:first-child {
        margin-right: 1rem;
      }

      .icon {
        font-size: 1.5rem;
        width: 30px;
        display: block;
        display: flex;
        justify-content: center;
        margin-right: 0.1rem;
      }

      p {
        font-weight: 600;
      }
    }
  }
  .color-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem;

    .unvisited {
      display: flex;
      align-items: center;
      margin-right: 5rem;
      .color {
        outline: 2px solid rgba($color: #343f56, $alpha: 0.5);
        margin-right: 0.5rem;

        height: 28px;
        width: 28px;
      }
    }

    .yellow {
      display: flex;
      align-items: center;
      margin-right: 5rem;

      .color {
        margin-right: 0.5rem;
        height: 30px;
        width: 30px;
        background-color: var(--visited-clr);
      }
    }

    .soft-yellow {
      display: flex;
      align-items: center;
      margin-right: 5rem;

      .color {
        margin-right: 0.5rem;
        height: 30px;
        width: 30px;
        background-color: var(--shortestPath-clr);
      }
    }

    .red {
      display: flex;
      align-items: center;
      .color {
        margin-right: 0.5rem;
        height: 30px;
        width: 30px;
        background-color: var(--wall-clr);
      }
    }
  }

  .sign-info {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
    font-size: 1.2rem;

    .info {
      display: flex;
      gap: 0.5rem;
    }
  }
}
